@font-face{
    font-family: "cy-grotesk-key-regular";
    src: local( "cy-grotesk-key-regular"), url(font/cy-grotesk-key-regular.ttf);
}
*{
    font-family:"cy-grotesk-key-regular" ;
    margin: 0; padding: 20px;
    -webkit-text-size-adjust:none;
    font-size-adjust: none;
    text-transform: uppercase;
    font-weight: lighter;
}

:root{
    --textcolor : #ffffff;
    --maincolor : #101010;
}

body{
    background-color: var(--maincolor);
    overflow: auto;
    padding-top: 100px;
}
body::-webkit-scrollbar{
  width: 0px;
}

.text{
    font-size: 1.2rem;
    text-align: left;
    color: var(--textcolor);
}

